@charset "utf-8";
/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,th,td,a,img,span,strong,var,em,input,textarea,select,option,pre{margin: 0; padding: 0;}
html,body,pre{font-family:"微软雅黑"; /*font-size: 14px; */text-align: left; color: #333333;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea{outline:0;}
textarea{resize:none;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;font-family: "微软雅黑"; color: #333333;}
.clearfix{ zoom:1; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
a:link,a:visited,a:hover,a:active{text-decoration:none;} 
/*==========================Reset_End===========================*/